<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_LOCATION" value="." />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%-35.35logger:%3.4line] %msg%n" />

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_LOCATION}/blockone.log</file>
        <append>false</append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <logger name="com.stefanauwyang.blockone" level="debug" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </logger>

    <root level="debug">
        <appender-ref ref="file"/>
        <appender-ref ref="console" />
    </root>

</configuration>